@charset "UTF-8";
.box {
  background:repeating-linear-gradient(45deg, black 0 5%, yellow 5% 10%);
  width: 100vw;
  padding: 10px 0px;
  text-align: center;
}

.box-title {
  background-color: rgba(0, 0 ,0 , 0.9);
  color: #ff0000;
  display: inline-block;
  font-weight: bold;
  font-size: 3vw;
}

canvas {
  display : flex;
  flex-direction : column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.inputContainer {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.textbox {
  margin: 5px;
  text-align: center;
}

input[type="file"] {
  display: none;
}

label {
  display: inline-block; /* ラベルをインラインブロック要素にする */
  padding: 50px 30px;
  margin: 10px; /* 上下左右に余白を追加する */
  color: #ffffff;
  font-size: 20px;
  background-color: #384878;
  cursor: pointer;
border:solid 2px #A5A19A;/*線の種類・太さ・色*/
}