@charset "UTF-8";
.box {
  background:repeating-linear-gradient(45deg, black 0 5%, yellow 5% 10%);
  padding: 10px 0px;
  text-align: center;
}

.box-title {
  background-color: rgba(0, 0 ,0 , 0.9);
  color: #ff0000;
  display: inline-block;
  font-weight: bold;
  font-size: 3vw;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.container {
  display: flex; /* Flexboxを使用 */
  align-items: center; /* アイテムを中央付近に集める */
  justify-content: center; /* Flexboxを中央に寄せる */
  flex-wrap: wrap;
}

.FlexBox {
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

#score {
  font-size: 50px;
}

#rank {
  font-size: 50px;
}

canvas {
  display : flex;
  flex-direction : column;
}

.inputContainer {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.textbox {
  text-align: center;
}

.notes {
  text-align: right;
  margin-right: 100px;
}

input[type="file"] {
  display: none;
}

label {
  display: inline-block; /* ラベルをインラインブロック要素にする */
  width: 46%;
  max-width: 570px;
  padding: 50px 0px;
  margin: 10px; /* 上下左右に余白を追加する */
  text-align: center; /* 中央寄せにする */
  color: #ffffff;
  font-size: 20px;
  background-color: #384878;
  cursor: pointer;
border:solid 5px #A5A19A;/*線の種類・太さ・色*/
}